voici mon magnifique css  -->

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/HD_transparent_picture.png/1200px-HD_transparent_picture.png");
}

.checkbox {
 
  appearance: auto;
  border: 2px solid #8c939e;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  box-sizing: border-box;
  margin-left: -569px;
  margin-top: 106px;

}
div {
  float: left;
  height: 470px;
  width: 23%;
  padding: 5 5px;
}

h2 {
  font-family: "Roboto", sans-serif;
  float: center;
  font-size: 15px;
  margin-left: 63px;
  color: #7d7172;
  text-decoration: none;
  margin-top: -21px;
}

/* Place le texte vers le haut */
a {
  font-family: "Arial", sans-serif;
  float: center;
  font-size: 15px;
  color: rgb(85,179,222);
  margin-left: 35px;
  text-decoration: none;
  
}

img {
width: 66px;
  height: 56px;
  margin-bottom: -30px;
  transition: background-color 0.3s ease;
  
}




.e1_2 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100vw; /* Utilisation de 100vw pour que l'élément occupe 100% de la largeur de la fenêtre */
  height: 100vh; /* Utilisation de 100vh pour que l'élément occupe 100% de la hauteur de la fenêtre */
  background-image: url(https://lh3.googleusercontent.com/drive-viewer/AJc5JmS5U4EHCxjSq-gHlpBtgR4YO6RX8lXA58yiw3suLnuDGUu6-7F3vQZhRGQApst0Lz2nlvMfMPk=w1920-h882);
  background-repeat: no-repeat;
  background-size: cover;
}
.1_2 {
  border: 1px solid rgba(0, 0, 0, 1);
}

.e3_2 {
  width: 300px;
  height: 70px;
  margin : 20px;
  background-image: url(logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.e6_2 {
  margin-top: 71px;
  margin-left: -42px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  width: 555px;
  height: 486px;
  background-image: url(https://lh3.googleusercontent.com/drive-viewer/AJc5JmRfRDyyhdQH6zyvvB-9wKnVYQpCBo7rDag3Dvv_bSUfEu0Pb5rvTvmrMTX4RD6DcrZDYdI-ksw=w1920-h978);
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  padding-top: 100px;
  margin-left: 10px;
}


.e6_3 {
  margin-top: 76px;
  margin-left: 121px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  width: 619px;
  height: 354px;
  background-image: url(login.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.e6_4 {
  margin-left: 360px;
  margin-top: 250px;
  width: 115px;
  height: 47px;
  background-image: url(https://lh3.googleusercontent.com/fife/AAbDypDnriV9QQOFQe1YVNv7qrYKPIr8n_Wvmz6k46Z4wfX3UGe0lLEhtfgMo_QwzU5N2_JVKyeUW_4mxIfFHhD8dCSWX3kdAYXbleI2OeZDO1MYrpQu-ufyTIJGYfmbUcs-m5je0gaURVd-nVXhYY1PkL-1IbDqLDM1Z0AJSfoNWQvM3gxDCtM2-n0tC17CR5kjUnXJ-CoAhbB0JX5Da34Y56c0z5LaEBRjfQJA0M_QaboqaiXAj1HyAa83niR647w1rIKaI1xRxve4l_QWq0pBZJeQxuH3YqMdKxBk-nBEI4kZ7K60tvulyGPAnzlOGwMfSm9fXHVYw38vXT5Udhfk4vuK7HcxGOavaAzgNQgW8Pm-YrJheAL-0Pbn30w7aQdP9sJxBuyq5Ro1abL08tg5_G73CiosuY5RaTSwsXjdljgKlgi8-2LQZpaG6Zfd2hOvcKRB_BNMqEl_SRfj2PVgA4c4cTzVK1emJtpoL4wj3EUXRXMqz9cjTq70Kc8BcOMixamj8Ppu0kdjbuFuYxhe92plJB1MzL6uAjr7adzUQsiqQQH6WIzmdBXYfvxF4BrnSRoj346ZN583jWLxgj65V1EngZgXfcMdsBMETdaSaVXGgJGinwkUFNDNxaqlRfd0UvOpLckdHcZT89DtBzRYlOPy1YnoqDgEx8rsOSAwu7kvsnnVUIZYh6mb_7mW-kX20twFcEhwE4ixB1tj8kPcqarkmMytwZvXy57vWn0I5s3NgnziWBW9yEeOQGF2mDpxTPUDpkE4PKuOggZa9PaxrqWc_xzteAZr5CvTX4kJTJGnB4nTNVquPMF98Ksk-U7U32uWTZbhGRHBE8SDkDYJkLlZ5dAu7WQeaMyAt_Bt5BBl9x8XvINc9TAHSCpXPEQcVnpzj8MvElEGiiXyv_llMad-iWLKMLHn9XoAX4EGD1eAklPLndE_CXpFVpNfn56rbwdRnvY3zBdI5NlOD5ozc7XPCqY_rzy0aW0N8I_JlqfI8L1L4t97qgJwsyDyTTT-4LhnJoVgdzO8uXtGxo95Kn5Ag0XdQcu1x3CSinnbJghmxrSFIGGsIDvPBd7kjHXY4-W1BjyHuTj4m0Ywt3e24ZhEedGkIbLLqjciw1WD_iPJBra5P_U_K3cNyWABdrVehFrDD8Fg94aQAtptSgKGuOQaD57TchM3I7tFp-ELbRqwuMuSvO6IlgXI3InBVjMLUdEuN0kb473b3kK7LoCAbtx9Wtgpj7PZzM0stUpE5Q-TwXPAlHvJXkDDkyNHcX2UbHBT-TcvIOld09zi5gD_OXD_MwZnARiqk5x0D3LoHKTlz3p1_qnMdcM9YOn5ecAOdo2NPy8EXU8ZqB3iQahUK1CctanIdcK4BufJF8FG0vqc_osJSKLd10uP604aXDOvi7uCciacyO3i9_Kt_hxH0SAYmpdtQHyL00RZ64ysTrBuEhBjlNvVGvAYEYJvR3MNp4zBAPjZRKTHWCySk9s=w1920-h612);
  background-repeat: no-repeat;
  background-size: cover;
}


.h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  color: white;
  margin-left: 807px;
}
.input1 {
  overflow: hidden;
  border-bottom: 1px solid black;
  border-radius: 0px;
  box-shadow: none;
  border: none;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  margin-left: 33px;
  margin-top: 77px;
  width: 544px;
  height: 41px;
  font-size: 15px;
  border-bottom: 1.5px solid rgba(214,217,224,255);
  outline: none;


}

.input1:focus {
  font-size: 15px;
  border-bottom: 2px solid orange;
}

.input2 {
  background-color: transparent;
  border: 0px solid;
  border-bottom: 1.5px solid rgba(214,217,224,255);

  margin-left: 35px;
  margin-top: 47px;
  width: 481px;
  height: 41px;
  outline: none;
}

.input2:focus {
  font-size: 15px;
  border-bottom: 2px solid orange;
}

.form1 input {
  padding-top: 5px;
}

.form1 label {
  position: absolute;
  border-bottom: 1px solid black;
}

.submit {
   margin-left: 499px;
  margin-top: -29px;
  width: 100px;
  height: 40px;
  background-color: #FF8500;
  border: none;
  color: white;
  border-radius: 0.15rem;
  box-shadow: 0.5px 7px 7px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition douce pour un effet plus fluide */
   /*! box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25); */
}

.submit:hover {
  background-color: #915719f7; /* Couleur de fond assombrie */
}


.a1 {
  margin-left: 37px;
  margin-top: 20px;
}
.wrapper .row {
margin: 0;
}
.prblm {
  color: white;
  font-family: "Roboto", sans-serif;
}